<!DOCTYPE html>
<html>
<head>
  <title>Room Monitor</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/DateTimePicker.css"/>
</head>
<body>
<div class="container">
  <div class="row title-app">
    <h1 class="text-center">Room Monitor</h1>
  </div>

  <!-- controls -->
  <div class="row controls vertical-align">
    <div class="col-sm-5">
      <div class="text-center">
        Start Date: <input class="input-start text-center" type="text" data-field="datetime" readonly>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="text-center">
        End Date: <input class="input-end text-center" type="text" data-field="datetime" readonly>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary btn-sm btn-search">
        <span class="glyphicon glyphicon-search"></span>
      </button>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".settings-modal">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
    </div>
  </div>

  <!-- graphs -->
  <div class="row container-graph">
    <h3 class="title-graph">Temperature</h3>
    <canvas id="chart-temperature" width="400" height="150"></canvas>
  </div>
  <div class="row container-graph">
    <h3 class="title-graph">Humidity</h3>
    <canvas id="chart-humidity" width="400" height="150"></canvas>
  </div>
</div>

<!-- datetime box -->
<div id="dtBox"></div>

<!-- settings modal -->
<div class="modal fade settings-modal" tabindex="-1" role="dialog" aria-labelledby="settingsModal">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="settingsModal">Settings</h4>
      </div>
      <div class="modal-body">
        <!-- interval setting -->
        <div class="row row-setting vertical-align">
          <div class="col-sm-6 text-center">
            Monitoring Interval
          </div>
          <div class="col-sm-6">
            <div class="input-group input-group-interval">
              <input type="text" class="form-control input-interval" aria-describedby="interval-units">
              <span class="input-group-addon" id="interval-units">seconds</span>
            </div>
          </div>
        </div>
        <!-- display setting -->
        <div class="row row-setting vertical-align">
          <div class="col-sm-6 text-center">
            Device Display
          </div>
          <div class="col-sm-6 text-left">
            <div class="checkbox">
              <label>
                <input class="checkbox-display" type="checkbox"> Check to turn on
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-save">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<script src="/javascripts/DateTimePicker.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
