<div class="container">
  <div class="row title-app">
    <h1 class="text-center">Environment Monitor</h1>
  </div>

  <div class="row controls">
    <div class="col-sm-5">
      <div class="text-center">
        Start Date: <input class="input-start text-center" type="text" data-field="datetime" readonly>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="text-center">
        End Date: <input class="input-end text-center" type="text" data-field="datetime" readonly>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary btn-sm btn-search">Search</button>
    </div>
  </div>

  <div class="row container-graph">
    <h3 class="title-graph">Temperature</h3>
    <canvas id="chart-temperature" width="400" height="150"></canvas>
  </div>

  <div class="row container-graph">
    <h3 class="title-graph">Humidity</h3>
    <canvas id="chart-humidity" width="400" height="150"></canvas>
  </div>

  <div id="dtBox"></div>
</div>

<script>
  $(document).ready(function () {

    /**
     * Formats a Date object to a string.
     *
     * @param date
     */
    function formatDate(date) {
      var year = date.getFullYear();
      var month = ("0" + (date.getMonth() + 1)).slice(-2);
      var day = ("0" + date.getDate()).slice(-2);
      var hour = ("0" + date.getHours()).slice(-2);
      var minutes = ("0" + date.getMinutes()).slice(-2);

      return year + "-" + month + "-" + day + " " + hour + ":" + minutes;
    }

    /**
     * Creates a line chart.
     *
     * @param ctx
     * @param labelName
     */
    function createLineChart(ctx, labelName, color) {
      var color = color || "75,192,192";
      var data = {
        labels: [],
        datasets: [
          {
            label: labelName,
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba("+color+",0.4)",
            borderColor: "rgba("+color+",1)",
            borderCapStyle: "butt",
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: "miter",
            pointBorderColor: "rgba("+color+",1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba("+color+",1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: []
          }
        ]
      };

      return new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          legend: {
            display: false
          }
        }
      });
    }

    /**
     * Updates the charts data and re-renders it.
     *
     * @param chart
     * @param labels
     * @param data
     */
    function updateChartData(chart, labels, data) {
      chart.data.labels = labels;
      chart.data.datasets[0].data = data;
      chart.update();
    }

    /**
     * Fetches new data from the server with the corresponding dates and resets the charts.
     *
     * @param startDate
     * @param endDate
     */
    function refreshCharts() {
      var startDate = $inputStart.val();
      var endDate = $inputEnd.val();

      $.ajax({
        url: "/data/within-dates",
        method: "GET",
        data: {
          startDate: startDate,
          endDate: endDate
        },
        dataType: "json"
      }).done(function (data) {
        console.log(data);
        var labels = data.labels;
        var temperature = data.temperature;
        var humidity = data.humidity;

        updateChartData(temperatureChart, labels, temperature);
        updateChartData(humidityChart, labels, humidity);

      }).fail(function (jqXHR, textStatus) {
        console.log("Request failed: " + textStatus);
      });
    }

    // initialize DateTimePicker
    $("#dtBox").DateTimePicker({
      dateTimeFormat: "yyyy-MM-dd HH:mm",
      titleContentDateTime: "",
      buttonsToDisplay: ["SetButton", "ClearButton"],
      animationDuration: 200
    });

    // initialize input fields
    var $inputStart = $(".input-start");
    var $inputEnd = $(".input-end");
    $inputStart.val(formatDate(new Date((new Date()).setDate(new Date().getDate() - 1)))); // current date - 1 day
    $inputEnd.val(formatDate(new Date()));

    // add listeners
    $(".btn-search").on("click", function () {
      refreshCharts();
    });

    // create charts
    var temperatureChart = createLineChart($("#chart-temperature"), "Temperature", "220,21,87");
    var humidityChart = createLineChart($("#chart-humidity"), "Humidity", "75,192,192");
    refreshCharts();

  });
</script>
