body {
  padding: 2rem;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.title-app {
  margin-bottom: 3rem;
}

.controls {
  margin-bottom: 5rem;
}

.controls input {
  border-color: #333;
  transition: all .3s;
}

.controls input:hover {
  cursor: pointer;
  color: #FF3B30;
}

.container-graph {
  margin: 4rem 0;
}

.title-graph {
  margin-bottom: 4rem;
}

.input-group-interval {
  width: 60%;
}

.btn-save {
  display: none;
}
